<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Welcome Page</title>
  <!-- Link to your CSS files using Thymeleaf -->
  <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css"/>
</head>
<body>

<h1>User Login</h1>

<form th:action="@{/login}" method="post">

  <p>
    <label>Name</label>
    <input type="text" name="j_username" placeholder="Username">
  </p>

  <p>
    <label>Password</label>
    <input type="password" name="j_password" placeholder="Password">
  </p>

  <p>
    <button type="submit">Login</button>
  </p>

</form>
</body>
</html>